.clock {
  text-align: center;
  font-size: 200px;
  color: rgb(214, 200, 200);
}

.button-container {
  text-align: center;
}
.btnn {
  font-size: 50px;
  margin: 8px;
}

.break-message {
  text-align: center;
  font-size: 48px;
  background: -webkit-linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 169, 0, 1) 16%,
    rgba(247, 255, 12, 1) 35%,
    rgba(76, 255, 0, 1) 49%,
    rgba(0, 131, 255, 1) 67%,
    rgba(86, 5, 175, 1) 83%,
    rgba(181, 0, 255, 1) 95%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
