.nav-container {
  background: black;
  width: 60%;
  height: 48px;
  padding: 20px;
  margin: auto;
  margin-top: 20px;
  border-radius: 18px;
  background: rgba(51, 51, 51, 255);
}

ul {
  list-style-type: none;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  color: rgb(223, 221, 221);
  margin-right: 20px;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
}
